* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div.assignment-practice {
    background-color: purple;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    padding: 50px;
}

div.item img{
    width: 150px;
    height: 150px;
    border-radius: 95%;
    text-align: left;
    background-position: center;
}

div.item {
    background-color: pink;
    padding: 30px;
    border-radius: 12px;
}