* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    
} 


.styled-btn {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all ease-in-out 1s;
}

.styled-btn:hover {
    transform: scale(1.12);
    cursor: pointer;
}

css


/* Dropdown */
div.dropdown-container {
    margin-inline: auto;
    width: 130px; 
    position: relative;
}

div.dropdown-container p {
    text-align: center;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

div.dropdown-container div.dropdown-menu {
    display: none;
    position: absolute;
    width: inherit;
    left: 2px;
    top: 28.5px;
    background-color: #36454F;
    color: #ffffff;
    text-align: center;
    padding: 1px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* Box Shadow */
    box-shadow: 4px 2px 10px 3px black;
}

div.dropdown-container div.dropdown-menu.show {
    display: block;
}

div.dropdown-container li {
    list-style: none;
    margin-block: 10px;
}
div.dropdown-container li:hover {
    color: red;
}

div.form-wrapper {
    position: relative;
}

form {
    margin-block: 50px;
    background-color: green;
    border: 6px dashed black;
    border-radius: 5px;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-inline: auto;
    padding-block: 20px 0;
    padding: 20px;
}

form fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form fieldset label {
    font-size: 18px;
    color: white;
    font-weight: bold;
}

form fieldset input {
    height: 30px;
    text-overflow: ellipsis;
    outline: none;
    padding-left: 5px;
}

form fieldset:last-of-type {
    flex-direction: row;
    justify-content: center;
    
}

form fieldset button {
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    
}

form fieldset button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

div.modal-wrapper {
    position: fixed;
    top: 0;
    z-index: 1000;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #00000078;
    display: none;
    flex-direction: column;
    align-items: center;
    place-content: center;

}

div.modal {
    background-color: white;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 10px ;
    border-radius: 10px;
    text-align: center;
}

div.modal h2 {
    font-size: 26px;
}

div.modal p{
    font-size: 16.5px;
}

div.modal button {
    width: fit-content;
    padding: 5px 10px;
    display: block;
    margin-inline: auto;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
}